@import url(https://fonts.googleapis.com/css?family=Open+Sans:400); /* Import google open sans font */

body, img, h1, h2, b, p, a, ul, li, div /* Remove Padding and margin and line height (Normalize)*/
{	margin: 0 0 0 0; /* top : right :  bottom :  left */
	padding: 0 0 0 0; /* top : right :  bottom :  left */
	line-height: 1.2;
	border: none; }

a {text-decoration: none; color: green; }
a:hover, .Selected {background: green; color: white;}	
body
{	font-family: sans-serif, "Open Sans";
	font-style: normal;
	font-size: 2vw;
	text-decoration: none;
	text-align: left;
	cursor: default;
	margin-top: 2%;
	margin-left: 1%;
	margin-right: 1%;
	color: black;
	background: no-repeat center center fixed; 
	background-image: url("background.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; }

h1 { font-size: 4vw; }
	
h2 {font-size: 2.5vw; 
	margin-left: 0.5vw;
	color: red;
	/*margin-top: 2vw;*/ }
	
hr	{ clear: both; border: none; height: 1px; }

b {	color: green; }
strong { color: black; }

p{	font-size: 1.25vw; 
	margin-left: 1vw;
	margin-top: 0.5vw;
	text-align: justify;
	text-indent: -0.5vw;
	margin-right: 1vw; }
.AboutP { margin-right: 35vw; font-size: 1.5vw; }
.BigP { font-size: 1.5vw; }
.PicLeftP { float: left; padding-right: 1vw; }
.PicRightP { float: right; padding-left: 1vw; }

.TitleIMG { width: 7vw; float: left; margin-right: 1vw;}
.TitleTXT { margin-left: 5vw; }
.TitleMENU { float: right; }

.FloatRight { float: right;  width: 33vw; border: 0.1vw solid green; margin-bottom: 1vw;}


.PicLeft { float: left; padding-left: 1vw; padding-right: 1vw; }
.PicRight { float: right; padding-left: 1vw; padding-right: 1vw; }


/* RSS ITEMS */

.rss-box {margin-left: 5vw;} /* a container div */
.rss-items {} /*ul element*/
.rss-item { font-size: 1.5vw; color: black; cursor: default; } /* li and a elements */
.rss-item:hover { background: transparent; color: black; }	

img { cursor: pointer; }

ul { list-style: none; } /* Remove default bullets */

ul li::before
{ content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; } /* Also needed for space (tweak if needed) */

/*#BigPicDIV { position: fixed; left: 1vw; top: 1vh; right: 90vw; bottom: 99vh;}*/

#BigPicIMG {  height: 95vh; }

#BigPicDIV {
  position: fixed;
  top: 50%;
  left: 50%;
  visibility: hidden;
  /* bring your own prefixes */
  transform: translate(-50%, -50%); }



/* SCREEN MEDIA ADJUSTMENTS */
@media (max-width: 30em) /* Small Size Displays */
{	.TitleMENU { font-size: 3.8vw; } 
	img { width: 30vw; }
	h1 { font-size: 5.8vw; }
	body { font-size: 4vw; }
	div.FloatRight { display: none; }
	h2 { font-size: 5vw; }
	.BigP, .AboutP { font-size: 3vw; width: 93vw; }
	#BigPicIMG { width: 100vw; height: auto; }
	p { font-size: 3vw; }
	.PicLeft, .PicLeftP, .PicRight, .PicRightP { width: 30vw;}
	.rss-item { font-size: 3vw;  } /* li and a elements */
}
